/* Modules avoid naming conflicts because unique classes are generated via a hashing algorithm. Modules are also useful if each component has its own unique style. */
.button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
